---
---

body {
	max-width: 640px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
	font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
}

.page-heading {
	display: flex;
	margin-top: 60px;
	margin-bottom: 60px;
	flex-flow: column;
	justify-content: center;

	h1, a {
		display: flex;
		justify-content: center;

	}
	h1 {
		font-weight: bold;
		font-size: 60px;
	}		
	a {
		margin-top: 15px;
	}
}

