---
---

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

body {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }


.footnotes {
	padding-top: 30px;

	ol {
		list-style-type:decimal;
	}

	li {
		p {
			margin-top: 1px;
		}
	}
}

.post-header {
	padding-top: 60px;
}

.post-meta {
	color: #aeaeae;
	margin: 0;
	padding-top: 17px;
}

.post-title {
	font-style: bold;
	margin: 0;
	font-size: 40px;
	text-indent: -1px;
}

.home-button {
	
	margin-bottom: 3px;
	padding-bottom: 0px;

	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-decoration: none;
	text-rendering: optimizelegibility;
	text-shadow: none;

	color: rgba(139, 140, 140, 0.47);
	&:hover {
		color: rgb(53, 113, 187);
	}
}

.post-content {

	font-family: Georgia, serif;

	div & {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	blockquote {
		background-color: rgb(250, 249, 247);
		padding: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
		border-left: 0.25em solid #e5e4e1;
		font-style: italic;
	}
	
	p, li {
		font-size: 16.8pt;
		line-height: 1.4;
	}

	p {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	h2 {
		font-size:25pt;
		margin-top: 15pt;
		margin-bottom: 5pt;
	}

	h3 {
		font-size: 22pt;
	}


	ul, ol {
		margin-left: 3em;
		li {
			margin-bottom: 13px;
		}
	}

	ul {
		list-style-type: disc;
	}
		
	hr {
		margin-bottom: 40px;
		margin-top: 40px;
		border-top: 1px solid rgba(0, 0, 0, 0.1)
	}
}


