
body, h2, h1 {
    margin: 0 0 0 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-text-size-adjust: 100%;
}

div, span, h1, h2, h3, p  {
	display: flex;
}

.container {
	flex: 1;
	justify-content: center;
    flex-direction: column;
}

.logoContainer {
	flex-direction: row;
	justify-content: center;
	align-items: initial;
}

.logo {
	width: 114pt;
	height: 144pt;
}

.contact-button {
	position: absolute;
	top: 2em;
	right: 2em;
    font-size: 1em;
    font-weight: 200;
    color: #268EFE;
}

p, h1, h2, span {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    color: #268EFE;
}

.leestHeader {
    padding-left: 0.5em;
    font-size: 80px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
}

.contact-button {
    position: absolute;
    top: 2em;
    right: 2em;
    font-size: 1em;
    font-weight: 200;
    color: #268EFE;
}

p, h1, h2, span {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-size: 4em;
    color: #268EFE;
}

.scrollingContainer {
    overflow: scroll;
    width: 100vw;
    -webkit-overflow-scrolling: touch;
}

.screenshotBackground {
    width: auto;
}

.scrollingContainer::-webkit-scrollbar { /* this is the one we care about */
    display: none;
}

.screenshotColumn {
    width: 75vw;
    flex-direction: column;
    align-items: center;
}

.screenshot {
    width: 65vw;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    border-radius: 6px;
}

p {
    text-align: center;
}


    .container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .logoContainer {
        justify-content: flex-start;
        align-items: center;
        flex: 1;
    }

@media (orientation: portrait) {
    .logo {
        display: none;
    }

    .contact-button {
        display: none;
    }


    .leestHeader {
        padding-left: 0px;
        vertical-align: center;
        padding-top: 35px;
    }

    h2 {
        padding-top: 35px;
        padding-bottom:35px;
    }
}

