
body, div, span, h1, h2, h3, p, h4, h5, ul {
    margin: 0 0 0 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

div, span  {
	display: flex;
    }

.container {
	flex: 1;
	justify-content: center;
    flex-direction: column;
}

.logoContainer {
	flex-direction: row;
	justify-content: center;
	align-items: initial;
}

.logo {
	width: 114pt;
	height: 144pt;
}

.contact-button {
	position: absolute;
	top: 2em;
	right: 2em;
    font-size: 1em;
    font-weight: 200;
    color: #268EFE;
}

h1 {
    color: #268EFE;
}

.leestHeader {
    padding-left: 0.5em;
    font-size: 80px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
}

.contact-button {
    position: absolute;
    top: 2em;
    right: 2em;
    font-size: 1em;
    font-weight: 200;
    color: #268EFE;
}

h1 {
    font-size: 4em;
    color: #268EFE;
}

.scrollingContainer {
    overflow: scroll;
    width: 100vw;
    -webkit-overflow-scrolling: touch;
}

.screenshotBackground {
    width: auto;
    background-color: #F6F6F6;
}

.scrollingContainer::-webkit-scrollbar { /* this is the one we care about */
    display: none;
}

.info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 33vh;
}

.featuresBackground {
    background-color: #F6F6F6;
    flex-direction: column;
}

.screenshotColumn {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;

}

.screenshot {
    width: 90%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    border-radius: 6px;
}

p {
    text-align: center;
}


.container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.logoContainer {
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

h3.features {
    font-size: 25px;
    padding-left: 5vw;
}

.listContainer {
    padding-left: 10vw;
    padding-right: 5vw;
}

ul {
    list-style-type: circle;
    flex-direction: column;
    background-color: #F6F6F6;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}

.releaseDate {
    font-size: 7vw;
    padding-left: 5vw;
    padding-bottom: 5vw;
}

    .subtitle {
        padding-top: 35px;
        padding-bottom:35px;
    }

a.twitter {
    color: #268EFE;
    text-decoration: none;
}

@media (orientation: portrait) {
    .logo {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .leestHeader {
        padding-left: 0px;
        vertical-align: center;
        padding-top: 35px;
    }

    p {
        
    }
    
    h3.socialMedia {
        font-weight: 400;
    }
}

