---
layout: default
css_file: post
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
		  <a class="home-button" href="{{ site.url }}" title="{{ site.title }}">{{ site.title }} /</a>

		  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
	  {{ content }}
  </div>
  <div class="author">
      <hr>
      <h2>About me:</h2>
      <h1>Wojtek Czekalski</h1>
      <p class="author-description">I write about software. I truly believe that this whole programming thing is too complicated. You can find me on <a href="https://twitter.com/wokalski">Twitter</a>.</p>
  </div>
</article>


